<app-header *ngIf="!doNotShow"></app-header>

<div class="container-fluid">
  <div class="well">
    <div class="alert-danger"></div>
    <h2>Enter a ZipCode:</h2>
    <form
      #weatherForm="ngForm"
      *ngIf="!submitted"
      (ngSubmit)="onSubmit(weatherForm)"
    >
      <div class="form-group">
        <input
          type="tel"
          class="form-control"
          pattern="^\d{5}$"
          required
          #zip="ngModel"
          placeholder="zipcode"
          name="zip"
          id="addLocation"
          class="form-cotrol"
          [(ngModel)]="formObject.zip"
          maxlength="5"
          (keypress)="onlyNumber($event)"
        />
        <br />
        <div
          class="alert alert-danger mt-4"
          *ngIf="zip.errors && (zip.valid || zip.untouched)"
        >
          <!--zip.touched && zip.invalid -->
          <div *ngIf="zip.errors.required">Zipcode is required</div>
          <div *ngIf="zip.errors.pattern">Zipcode must be of 5 digits.</div>
        </div>
      </div>

      <button
        class="btn btn-primary"
        id="addLocationBtn"
        [disabled]="weatherForm.form.invalid"
      >
        Add Location
      </button>
    </form>
  </div>
</div>

<app-weather-listcomponent
  [zipCodeArray]="zipCodeArray"
  [locationData]="currentWeather"
></app-weather-listcomponent>
