<h4>Template for main page:</h4>
<div class="container-fluid">
  <div class="well">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <h2>Enter a zipcode:</h2>
      <input
        formControlName="zipInput"
        class="form-control"
        placeholder="Zipcode"
        type="text"
        maxlength="5"
        id="addLocation"
        (keypress)="onlyNumber($event)"
      />
      <span *ngIf="zipinputform.zipInput.invalid && isSubmited">
        Zip Code is Required</span
      >

      <span *ngIf="this.errorflag">
        {{ this.errorMessage }}
      </span>

      <br />
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!form.valid"
        id="addLocationBtn"
      >
        Add location
      </button>
    </form>
  </div>
  <div>
    <div class="well flex">
      <div>
        <!-- <button (click)="addData()">Add</button> -->

        <h3>City Name :- {{ zipData.name }}</h3>
        <!-- <h4>Current conditions: {{ this.zipData.weather[0].main }}</h4> -->
        <h4>Temperatures today:</h4>
        <p>Current Temp:- {{ this.zipData?.main?.temp }}</p>
        <p>Maximum Temp :- {{ this.zipData?.main?.temp_max }}</p>
        <p>Minimum Temp :- {{ this.zipData?.main?.temp_min }}</p>

        <span (click)="goToForeCast()"
          >Show 5-day forecast for {{ zipData.name }}</span
        >
      </div>
      <div>
        <span class="close" (click)="dataNotDisplay()">×</span>
        <!-- <img src="assets/img/{{this.zipData.icon}}.png" alt="" /> -->
        <img src="https://www.angulartraining.com/images/weather/sun.png" />
      </div>
    </div>
  </div>
</div>
<hr />
