<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{ cityName }}</h3>
    </div>
    <ul class="list-group" *ngFor="let dataforecast of forecast">
      <li class="list-group-item">
        {{ dataforecast.dt_txt | date: 'EEE' }} -
        <span> {{ dataforecast.weather[0].main }}</span
        >, <span> Low : {{ dataforecast.main.temp_min }}</span
        >,
        <span> High : {{ dataforecast.main.temp_max }}</span>

        <img
          class="icon"
          src="https://www.angulartraining.com/images/weather/rain.png"
        />
      </li>
    </ul>
  </div>
  <a routerLink="/">
    <button class="btn btn-success" tabindex="0" id="mainPageBtn">
      Back to main page
    </button></a
  >
</div>
